IcisNet Msges/CC529A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.00">
  <!--=========================================-->
  <!--===== IE529:E_REL_EXP  -->
  <!--===== RELEASE FOR EXPORT  -->
  <!--===== ECS Domain Definition  -->
  <!--===== DDNXA v5.00  -->
  <!--===== Included Features: [4, 17, 18, 20, 24, 25, 28, 29]  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="simple_types_ecs.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <xs:include schemaLocation="complex_types.xsd" />
  <xs:include schemaLocation="tcl_ecs.xsd" />
  <xs:include schemaLocation="tcl.xsd" />
  <xs:include schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC529A" type="CC529A" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC529A">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="HEAHEA" type="HEAHEA">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXPEX1" type="TRAEXPEX1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORTER) TRADER" />
            <condition name="C510" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE1" type="TRACONCE1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(CONSIGNEE) TRADER" />
            <rule name="R011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXPERT" type="CUSOFFEXPERT">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXIEXT" type="CUSOFFEXIEXT" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXIT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONRESERS" type="CONRESERS" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="CONTROL RESULT" />
            <rule name="R160" />
            <rule name="R335" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAINFSLI" type="SEAINFSLI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="SEALS INFO" />
            <rule name="R165" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="GOOITEGDS" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="GOODS ITEM" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ITI" type="ITI" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="ITINERARY" />
            <rule name="R877" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADEC" type="TRADEC">
        <xs:annotation>
          <xs:documentation>
            <description value="(DECLARANT) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DELTER" type="DELTER" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(TERMS) DELIVERY" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADAT" type="TRADAT" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(DATA) TRANSACTION" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DEFPOSPAY" type="DEFPOSPAY" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>
            <description value="(PAYMENT) DEFERRED OR POSTPONED" />
            <condition name="C558" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IDEWAR" type="IDEWAR" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(WAREHOUSE) IDENTIFICATION" />
            <condition name="C561" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STATREP385" type="STATREP385">
        <xs:annotation>
          <xs:documentation>
            <description value="(STATUS) REPRESENTATIVE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax identifier" />
            <codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax version number" />
            <codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_6">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Acknowledgement request" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Test indicator" />
            <rule name="TR9085" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEA">
    <xs:annotation>
      <xs:documentation>
        <description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumHEA4" type="Alphanumeric_Max22">
        <xs:annotation>
          <xs:documentation>
            <description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumHEA5" type="MRNType">
        <xs:annotation>
          <xs:documentation>
            <description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypOfDecHEA24" type="Alphanumeric_Max9">
        <xs:annotation>
          <xs:documentation>
            <description value="Type of declaration" />
            <codeList name="TypeOfDeclarationTransitExportProcedures" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesCodHEA30" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country of destination code" />
            <rule name="TR9121" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgrLocOfGooCodHEA38" type="Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Agreed location of goods, code" />
            <rule name="R041" />
            <condition name="C100" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgrLocOfGooHEA39" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Agreed location of goods" />
            <rule name="R041" />
            <condition name="C100" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgrLocOfGooHEA39LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Agreed location of goods LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutLocOfGooCodHEA41" type="Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Authorised location of goods, code" />
            <rule name="R041" />
            <condition name="C100" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisCodHEA55" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country of dispatch/export code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CusSubPlaHEA66" type="Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Customs sub place" />
            <rule name="R041" />
            <condition name="C100" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InlTraModHEA75" type="Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Inland transport mode" />
            <condition name="C557" />
            <codeList name="TransportMode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraModAtBorHEA76" type="Numeric_Max2">
        <xs:annotation>
          <xs:documentation>
            <description value="Transport mode at border" />
            <codeList name="TransportMode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78" type="Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport at departure (exp/trans)" />
            <rule name="R838" />
            <rule name="R035" />
            <condition name="C005" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport at departure LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraCroHEA85" type="Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport crossing border" />
            <rule name="R838" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraCroHEA85LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport crossing border LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NatOfMeaOfTraCroHEA87" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Nationality of means of transport crossing border" />
            <condition name="C010" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypOfMeaOfTraCroHEA88" type="Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Type of means of transport crossing border" />
            <codeList name="TransportMode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConIndHEA96" type="Flag">
        <xs:annotation>
          <xs:documentation>
            <description value="Containerised indicator" />
            <rule name="R230" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccDatHEA158" type="DateType">
        <xs:annotation>
          <xs:documentation>
            <description value="Acceptance date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssDatHEA186" type="DateType">
        <xs:annotation>
          <xs:documentation>
            <description value="Issuing date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiaLanIndAtDepHEA254" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Dialog language indicator at departure" />
            <rule name="R100" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ECSAccDocHEA601" type="LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <description value="ECS accompanying document language code" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <description value="Total number of items" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfPacHEA306" type="Numeric_Max7" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Total number of packages" />
            <rule name="R830" />
            <rule name="R105" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Total gross mass" />
            <rule name="R832" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BinItiHEA246" type="Flag">
        <xs:annotation>
          <xs:documentation>
            <description value="Binding itinerary" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutIdHEA380" type="Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Authorisation id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecDatHEA383" type="DateType">
        <xs:annotation>
          <xs:documentation>
            <description value="Declaration date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecPlaHEA394" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Declaration place" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecPlaHEA394LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Declaration place LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeCirIndHEA1" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Specific Circumstance Indicator" />
            <rule name="R839" />
            <codeList name="SpecificCircumstanceIndicator" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraChaMetOfPayHEA1" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Transport charges/ Method of Payment" />
            <codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumHEA" type="Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Commercial Reference Number" />
            <rule name="R876" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GraTotTaxAmoHEA1" type="Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Grand total taxes amount" />
            <rule name="R021" />
            <condition name="C560" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypOfDecBx12HEA651" type="Alpha_1">
        <xs:annotation>
          <xs:documentation>
            <description value="Type of declaration (Box 1.2)" />
            <codeList name="TypeOfDeclarationBox" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddDecDatHEA1024" type="Numeric_8" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Additional Declaration Date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRFolHEA1025" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="TIR Follows" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinBanInfHEA1027" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Financial and Banking Information" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManEntNumHEA1028" type="Alphanumeric_Max6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manual Entry Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManEntYeaHEA1029" type="Alphanumeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manual Entry Year" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaLoaHEA126" type="Alphanumeric_Max80" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Loading Place" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoadingDts" type="LoadingDts" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>
            <description value="LOADING DETAILS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== LOADING DETAILS =====-->
  <xs:complexType name="LoadingDts">
    <xs:annotation>
      <xs:documentation>
        <description value="LOADING DETAILS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LoadingBegDateHEA" type="Numeric_12" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Loading Beginning Date and Time" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoadingEndDat" type="Numeric_12" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Loading Ending Date and Time" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXPORTER) TRADER =====-->
  <xs:complexType name="TRAEXPEX1">
    <xs:annotation>
      <xs:documentation>
        <description value="(EXPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamEX17" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumEX122" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodEX123" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitEX124" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouEX125" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGEX" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINEX159" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeMenEX1011" type="Alphanumeric_5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Special Mention" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE1">
    <xs:annotation>
      <xs:documentation>
        <description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE17" type="TradNameType">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE122" type="StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE123" type="PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE124" type="CityType">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE125" type="CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCE" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE159" type="TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeMenCE1003" type="Alphanumeric_5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Special Mention" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTROL RESULT =====-->
  <xs:complexType name="CONRESERS">
    <xs:annotation>
      <xs:documentation>
        <description value="CONTROL RESULT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConDatERS14" type="DateType">
        <xs:annotation>
          <xs:documentation>
            <description value="Control date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConByERS18" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Controlled by" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConByERS18LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Controlled by LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SEALS INFO =====-->
  <xs:complexType name="SEAINFSLI">
    <xs:annotation>
      <xs:documentation>
        <description value="SEALS INFO" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaNumSLI2" type="Numeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <description value="Seals number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAIDSID" type="SEAIDSID" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="SEALS ID" />
            <condition name="C569" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GOODS ITEM =====-->
  <xs:complexType name="GOOITEGDS">
    <xs:annotation>
      <xs:documentation>
        <description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <description value="Item number" />
            <rule name="R005" />
            <rule name="R007" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23" type="Alphanumeric_Max280">
        <xs:annotation>
          <xs:documentation>
            <description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Goods description LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasGDS46" type="Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Gross mass" />
            <rule name="R832" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetMasGDS48" type="Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <description value="Net mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisGDS58" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country of dispatch/export code" />
            <rule name="TR9120" />
            <condition name="C578" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesGDS59" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country of destination code" />
            <rule name="TR9120" />
            <rule name="TR9121" />
            <condition name="C568" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MetOfPayGDI12" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Transport charges/ Method of Payment" />
            <rule name="TR9120" />
            <condition name="C576" />
            <codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProReqGDI1" type="Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <description value="Procedure requested" />
            <codeList name="ProcedureRequested" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreProGDI1" type="Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous Procedure" />
            <codeList name="PreviousProcedure" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComNatProGIM1" type="Alphanumeric_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Community / National Procedure" />
            <codeList name="CommunityNationalProcedure" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaValCurGDI1" type="Alpha_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Statistical value currency" />
            <rule name="R873" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaValAmoGDI1" type="Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Statistical value amount" />
            <rule name="R021" />
            <condition name="C028" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfOriGDI1" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country of Origin" />
            <rule name="R871" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisProRegGDI1" type="Alphanumeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Dispatch / Production Region" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupUniGDI1" type="Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Supplementary units" />
            <rule name="R872" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotIteTaxAmoGDI1" type="Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Total item taxes amount" />
            <rule name="R021" />
            <condition name="C559" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumGIM1" type="Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Commercial Reference Number" />
            <rule name="R876" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UNDanGooCodGDI1" type="Alphanumeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="UN dangerous goods code" />
            <codeList name="UnDangerousGoodsCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraDepGDS1030" type="Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport at departure (exp/trans)" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraDepGDS1030LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport at departure LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraCroBorGDS1031" type="Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport crossing border" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraCroBorGDS1031LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity of means of transport crossing border LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NatMeaTraCroBorGDS1032" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Nationality of means of transport crossing border" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypMeaTraCroBorGDS1033" type="Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Type of means of transport crossing border" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProReqEndDat4003" type="Numeric_8" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Procedure requested End Date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PREADMREFAR2" type="PREADMREFAR2" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>
            <description value="PREVIOUS ADMINISTRATIVE REFERENCES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="PRODOCDC2" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="PRODUCED DOCUMENTS/CERTIFICATES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SPEMENMT2" type="SPEMENMT2" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="SPECIAL MENTIONS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONEX2" type="TRACONEX2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORTER) TRADER" />
            <condition name="C510" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="COMCODGODITM" type="COMCODGODITM">
        <xs:annotation>
          <xs:documentation>
            <description value="(CODE) COMMODITY" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CALTAXGOD" type="CALTAXGOD" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="(TAXES) CALCULATION" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE2" type="TRACONCE2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(CONSIGNEE) TRADER" />
            <rule name="R011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="CONNR2" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="CONTAINERS" />
            <condition name="C055" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PACGS2" type="PACGS2" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="PACKAGES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GRN" type="GRN" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <description value="GRN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VEHDET" type="VEHDET" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="VEHICLE DETAILS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NATPRO" type="NATPRO" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="NATIONAL PRODUCTS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BASPRO" type="BASPRO" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="BASE PRODUCTS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PREVIOUS ADMINISTRATIVE REFERENCES =====-->
  <xs:complexType name="PREADMREFAR2">
    <xs:annotation>
      <xs:documentation>
        <description value="PREVIOUS ADMINISTRATIVE REFERENCES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PreDocTypAR21" type="Alphanumeric_Max6">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document type" />
            <rule name="R893" />
            <rule name="R079" />
            <rule name="TR0100" />
            <codeList name="PreviousDocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocRefAR26" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document reference" />
            <rule name="R893" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocRefLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document reference LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocCatPREADMREF21" type="Alpha_1">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous Document Category" />
            <codeList name="PreviousDocumentCategory" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocMrnAR1004" type="Alphanumeric_Max18" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document MRN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocIteAR1005" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document item number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocQuaAR1006" type="Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document Quantity" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocSupAR1007" type="Numeric_Max11" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document Supplementary units" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocSumDecPacAR1035" type="Alphanumeric_Max10" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document Summary Declaration Packages" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocBilOfLadTyp10" type="Alphanumeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document Bill of Lading Type" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocBilOfLadNum11" type="Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Previous document Bill of Lading Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PRODUCED DOCUMENTS/CERTIFICATES =====-->
  <xs:complexType name="PRODOCDC2">
    <xs:annotation>
      <xs:documentation>
        <description value="PRODUCED DOCUMENTS/CERTIFICATES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="Alphanumeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <description value="Document type" />
            <rule name="R079" />
            <rule name="TR0103" />
            <codeList name="DocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Document reference LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocInfDC1008" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Document Information" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocInfDC1008LNG" type="Alpha_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Document Information LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SPECIAL MENTIONS =====-->
  <xs:complexType name="SPEMENMT2">
    <xs:annotation>
      <xs:documentation>
        <description value="SPECIAL MENTIONS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddInfCodMT23" type="Alphanumeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <description value="Additional information coded" />
            <rule name="TR0101" />
            <codeList name="AdditionalInformationIdCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TexSPM1" type="Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Text" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TexSPM1LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Text LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXPORTER) TRADER =====-->
  <xs:complexType name="TRACONEX2">
    <xs:annotation>
      <xs:documentation>
        <description value="(EXPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamEX27" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumEX222" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodEX223" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitEX224" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouEX225" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGTEX" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINEX259" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CODE) COMMODITY =====-->
  <xs:complexType name="COMCODGODITM">
    <xs:annotation>
      <xs:documentation>
        <description value="(CODE) COMMODITY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComNomCMD1" type="Alphanumeric_Max8">
        <xs:annotation>
          <xs:documentation>
            <description value="Combined Nomenclature" />
            <rule name="TR1008" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARCodCMD1" type="Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <description value="TARIC code" />
            <rule name="R868" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARFirAddCodCMD1" type="Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="TARIC first additional code" />
            <rule name="R869" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARSecAddCodCMD1" type="Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="TARIC second additional code" />
            <rule name="R869" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NAtAddCodCMD1" type="Alphanumeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="National additional code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (TAXES) CALCULATION =====-->
  <xs:complexType name="CALTAXGOD">
    <xs:annotation>
      <xs:documentation>
        <description value="(TAXES) CALCULATION" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TypOfTaxCTX1" type="Alphanumeric_3">
        <xs:annotation>
          <xs:documentation>
            <description value="Type of tax" />
            <codeList name="TypeOfTax" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBasCTX1" type="Decimal_15_2">
        <xs:annotation>
          <xs:documentation>
            <description value="Tax base" />
            <rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RatOfTaxCTX1" type="Alphanumeric_Max15">
        <xs:annotation>
          <xs:documentation>
            <description value="Rate of tax" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmoOfTaxTCL1" type="Decimal_15_2">
        <xs:annotation>
          <xs:documentation>
            <description value="Amount of tax" />
            <rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MetOfPayCTX1" type="Alpha_1">
        <xs:annotation>
          <xs:documentation>
            <description value="Method of payment" />
            <codeList name="MethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE2">
    <xs:annotation>
      <xs:documentation>
        <description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE27" type="TradNameType">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE222" type="StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE223" type="PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE224" type="CityType">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE225" type="CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGICE" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE259" type="TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PACKAGES =====-->
  <xs:complexType name="PACGS2">
    <xs:annotation>
      <xs:documentation>
        <description value="PACKAGES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarNumOfPacGS21" type="Alphanumeric_Max42" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Marks &amp; numbers of packages" />
            <condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacGS21LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Marks &amp; numbers of packages LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacGS23" type="Alphanumeric_Max3">
        <xs:annotation>
          <xs:documentation>
            <description value="Kind of packages" />
            <codeList name="KindOfPackages" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacGS24" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Number of packages" />
            <rule name="R021" />
            <rule name="TR0022" />
            <condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieGS25" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Number of pieces" />
            <condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GRN =====-->
  <xs:complexType name="GRN">
    <xs:annotation>
      <xs:documentation>
        <description value="GRN" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrnNum1010" type="Alphanumeric_Max24" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="GRN Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== VEHICLE DETAILS =====-->
  <xs:complexType name="VEHDET">
    <xs:annotation>
      <xs:documentation>
        <description value="VEHICLE DETAILS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FraNumVD1014" type="Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Frame Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CarWarNumVD1015" type="Alphanumeric_Max16" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Car Warehouse Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (DECLARANT) TRADER =====-->
  <xs:complexType name="TRADEC">
    <xs:annotation>
      <xs:documentation>
        <description value="(DECLARANT) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTDE1" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTDE1" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTDE1" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CiTDE1" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTDE1" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADECLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTDE1" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeMenTDE1022" type="Alphanumeric_5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Special Mention" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (DATA) TRANSACTION =====-->
  <xs:complexType name="TRADAT">
    <xs:annotation>
      <xs:documentation>
        <description value="(DATA) TRANSACTION" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurTRD1" type="Alphanumeric_Max3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Currency" />
            <rule name="R874" />
            <codeList name="CurrencyCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotAmoInvTRD1" type="Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Total amount invoiced" />
            <rule name="R867" />
            <rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExcRatTRD1" type="Decimal_6_5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Exchange rate" />
            <condition name="C556" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NatOfTraFirCodTRD1" type="Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Nature of transaction code" />
            <rule name="R867" />
            <codeList name="NatureOfTransactionCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NatOfTraSecCodTRD1" type="Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Nature of second transaction code" />
            <codeList name="NatureOfTransactionCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (WAREHOUSE) IDENTIFICATION =====-->
  <xs:complexType name="IDEWAR">
    <xs:annotation>
      <xs:documentation>
        <description value="(WAREHOUSE) IDENTIFICATION" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WarTypWID1" type="Alpha_1">
        <xs:annotation>
          <xs:documentation>
            <description value="Warehouse type" />
            <codeList name="WarehouseTypeWarehouseType" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutCouWID1" type="CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <description value="Authorizing country" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WarIdeWID1" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Warehouse identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

