IcisNet Msges/CC548A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.00">
  <!--=========================================-->
  <!--===== IE548:E_MAN_VAL  -->
  <!--===== MANIFEST VALIDATION  -->
  <!--===== ECS Domain Definition  -->
  <!--===== DDNXA v5.00  -->
  <!--===== Included Features: [4, 17, 18, 20, 24, 25, 28, 29]  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="simple_types_ecs.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <xs:include schemaLocation="complex_types.xsd" />
  <xs:include schemaLocation="tcl_ecs.xsd" />
  <xs:include schemaLocation="tcl.xsd" />
  <xs:include schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC548A" type="CC548A" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC548A">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="HEAHEA" type="HEAHEA">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ACEACE" type="ACEACE" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
            <rule name="TR9202" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FUNERRER1" type="FUNERRER1" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="FUNCTIONAL ERROR" />
            <rule name="R123" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXICAR" type="TRAEXICAR" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXIT CARRIER) TRADER" />
            <rule name="TR9202" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax identifier" />
            <codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax version number" />
            <codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_6">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Acknowledgement request" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Test indicator" />
            <rule name="TR9085" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEA">
    <xs:annotation>
      <xs:documentation>
        <description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ManRefNumHEA1" type="Alphanumeric_Max22">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManNumHEA1" type="Alphanumeric_Max22" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest Number" />
            <rule name="TR9202" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManRegDatHEA418" type="DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest registration date" />
            <rule name="TR9202" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManRejDatHEA419" type="DateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest rejection date" />
            <rule name="TR9203" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManRejReasHEA420" type="Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest rejection reason" />
            <rule name="TR9203" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManRejReasHEA420LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest rejection reason LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (ACTUAL EXIT) CUSTOMS OFFICE =====-->
  <xs:complexType name="ACEACE">
    <xs:annotation>
      <xs:documentation>
        <description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumACE1" type="CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== FUNCTIONAL ERROR =====-->
  <xs:complexType name="FUNERRER1">
    <xs:annotation>
      <xs:documentation>
        <description value="FUNCTIONAL ERROR" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ErrTypER11" type="FunctionalErrorCodes">
        <xs:annotation>
          <xs:documentation>
            <description value="Error type" />
            <codeList name="FunctionalErrorCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrPoiER12" type="Alphanumeric_Max210">
        <xs:annotation>
          <xs:documentation>
            <description value="Error pointer" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrReaER13" type="Alphanumeric_Max6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Error reason" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriAttValER14" type="Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Original attribute value" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrDesFUNERRMES" type="Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Error description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXIT CARRIER) TRADER =====-->
  <xs:complexType name="TRAEXICAR">
    <xs:annotation>
      <xs:documentation>
        <description value="(EXIT CARRIER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTEC1" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTEC2" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTEC1" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitTEC1" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTEC1" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXICARLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTEC2" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

