IcisNet Msges/CC560A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.00">
  <!--=========================================-->
  <!--===== IE560:E_EXP_CTR  -->
  <!--===== EXPORT CONTROL DECISION  -->
  <!--===== ECS Domain Definition  -->
  <!--===== DDNXA v5.00  -->
  <!--===== Included Features: [4, 17, 18, 20, 24, 25, 28, 29]  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="simple_types_ecs.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <xs:include schemaLocation="complex_types.xsd" />
  <xs:include schemaLocation="tcl_ecs.xsd" />
  <xs:include schemaLocation="tcl.xsd" />
  <xs:include schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC560A" type="CC560A" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC560A">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="HEAHEA" type="HEAHEA">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXPERT" type="CUSOFFEXPERT">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADEC" type="TRADEC">
        <xs:annotation>
          <xs:documentation>
            <description value="(DECLARANT) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax identifier" />
            <codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax version number" />
            <codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_6">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Acknowledgement request" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Test indicator" />
            <rule name="TR9085" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEA">
    <xs:annotation>
      <xs:documentation>
        <description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="MRNType">
        <xs:annotation>
          <xs:documentation>
            <description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfConNotHEA148" type="Numeric_8">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of control notification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhyConHEA" type="Flag">
        <xs:annotation>
          <xs:documentation>
            <description value="Physical Control" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraConInfHEA" type="Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Trader Control Info" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (DECLARANT) TRADER =====-->
  <xs:complexType name="TRADEC">
    <xs:annotation>
      <xs:documentation>
        <description value="(DECLARANT) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTDE1" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTDE1" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTDE1" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CiTDE1" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTDE1" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADECLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <rule name="TR0099" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTDE1" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

