IcisNet Msges/DA113A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.00">
  <!--=========================================-->
  <!--===== DA113:E_MAN_AMD  -->
  <!--===== Υποβολή τροποποίησης Καταλόγου Εξόδου  -->
  <!--===== ECS Domain Definition  -->
  <!--===== DDNXA v5.00  -->
  <!--===== Included Features: [4, 17, 18, 20, 24, 25, 28, 29]  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="simple_types_ecs.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <xs:include schemaLocation="complex_types.xsd" />
  <xs:include schemaLocation="tcl_ecs.xsd" />
  <xs:include schemaLocation="tcl.xsd" />
  <xs:include schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="DA113A" type="DA113A" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="DA113A">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="HEAHEA" type="HEAHEA">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ACEACE" type="ACEACE">
        <xs:annotation>
          <xs:documentation>
            <description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXICAR" type="TRAEXICAR">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXIT CARRIER) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MANITE" type="MANITE" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="MANIFEST ITEM" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax identifier" />
            <codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax version number" />
            <codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_6">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Acknowledgement request" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Test indicator" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEA">
    <xs:annotation>
      <xs:documentation>
        <description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotNumOfPacHEA306" type="Numeric_Max7">
        <xs:annotation>
          <xs:documentation>
            <description value="Total number of packages" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <description value="Total gross mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreHEA1" type="Numeric_8">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of presentation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManNumHEA1" type="Alphanumeric_Max22">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfManIteHEA1022" type="Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <description value="Total number of manifest items" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (ACTUAL EXIT) CUSTOMS OFFICE =====-->
  <xs:complexType name="ACEACE">
    <xs:annotation>
      <xs:documentation>
        <description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumACE1" type="CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXIT CARRIER) TRADER =====-->
  <xs:complexType name="TRAEXICAR">
    <xs:annotation>
      <xs:documentation>
        <description value="(EXIT CARRIER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTEC1" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTEC2" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTEC1" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitTEC1" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTEC1" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXICARLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTEC2" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MANIFEST ITEM =====-->
  <xs:complexType name="MANITE">
    <xs:annotation>
      <xs:documentation>
        <description value="MANIFEST ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ManIteNumMIT1" type="Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <description value="Manifest item number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRADOCDATMANITE" type="TRADOCDATMANITE">
        <xs:annotation>
          <xs:documentation>
            <description value="TRANSPORT DOCUMENT DATA" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== TRANSPORT DOCUMENT DATA =====-->
  <xs:complexType name="TRADOCDATMANITE">
    <xs:annotation>
      <xs:documentation>
        <description value="TRANSPORT DOCUMENT DATA" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraDocRefMTD1" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Transport document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacMTD1" type="Alphanumeric_Max42" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Marks &amp; numbers of packages" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacMTD1LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Marks &amp; numbers of packages LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacMTD1" type="Alphanumeric_Max3">
        <xs:annotation>
          <xs:documentation>
            <description value="Kind of packages" />
            <codeList name="KindOfPackages" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacMTD1" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Number of packages" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieMTD1" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Number of pieces" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasMTD1" type="Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <description value="Gross mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComCodTarCodTDD1" type="Alphanumeric_Max6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Commodity code (taric code)" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesTexMTD1" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Goods description text" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesTexMTD1LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Goods description LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSDATTRADOCDATMANITE" type="CUSDATTRADOCDATMANITE" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <description value="CUSTOMS DATA" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CUSTOMS DATA =====-->
  <xs:complexType name="CUSDATTRADOCDATMANITE">
    <xs:annotation>
      <xs:documentation>
        <description value="CUSTOMS DATA" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocRefNumTDD1" type="MRNType">
        <xs:annotation>
          <xs:documentation>
            <description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinOrParShiFlaTDD1" type="Flag">
        <xs:annotation>
          <xs:documentation>
            <description value="Final or Partial shipment flag" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacTDD1" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Number of packages" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieTDD1" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Number of pieces" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasTDD1" type="Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Gross mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IteNumMANITETRADOCDATCUSDAT438" type="Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Item number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

