IcisNet Msges/EA05A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.00">
  <!--=========================================-->
  <!--===== EA05:REJ_AME_EDE_IMP  -->
  <!--===== Απόρριψη Αιτήματος Διόρθωσης ΕΔΕ Άνευ Στατιστικής  -->
  <!--===== ECS Domain Definition  -->
  <!--===== DDNXA v5.00  -->
  <!--===== Included Features: [4, 17, 18, 20, 24, 25, 28, 29]  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="simple_types_ecs.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <xs:include schemaLocation="complex_types.xsd" />
  <xs:include schemaLocation="tcl_ecs.xsd" />
  <xs:include schemaLocation="tcl.xsd" />
  <xs:include schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="EA05A" type="EA05A" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="EA05A">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="HEAHEA" type="HEAHEA">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXPEX1" type="TRAEXPEX1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORTER) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXPERT" type="CUSOFFEXPERT" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FUNERRER1" type="FUNERRER1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="FUNCTIONAL ERROR" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAREP" type="TRAREP" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="(REPRESENTATIVE) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax identifier" />
            <codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax version number" />
            <codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_6">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Acknowledgement request" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Test indicator" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEA">
    <xs:annotation>
      <xs:documentation>
        <description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="MRNType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmdDatHEA599" type="Numeric_8" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of amendment" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejDatHEA603" type="DateType">
        <xs:annotation>
          <xs:documentation>
            <description value="Amendment rejection date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejMotCodHEA604" type="Numeric_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Amendment rejection motivation code" />
            <codeList name="AmendmentRejectionMotivationCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejMotTexHEA605" type="Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Amendment rejection motivation text" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejMotTexHEA605LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Amendment rejection motivation text LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXPORTER) TRADER =====-->
  <xs:complexType name="TRAEXPEX1">
    <xs:annotation>
      <xs:documentation>
        <description value="(EXPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamEX17" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumEX122" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodEX123" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitEX124" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouEX125" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGEX" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdTypEXP61" type="Numeric_2">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity Type" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdNumEXP61" type="Alphanumeric_Max12">
        <xs:annotation>
          <xs:documentation>
            <description value="Identity Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== FUNCTIONAL ERROR =====-->
  <xs:complexType name="FUNERRER1">
    <xs:annotation>
      <xs:documentation>
        <description value="FUNCTIONAL ERROR" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ErrTypER11" type="FunctionalErrorCodes">
        <xs:annotation>
          <xs:documentation>
            <description value="Error type" />
            <codeList name="FunctionalErrorCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrPoiER12" type="Alphanumeric_Max210">
        <xs:annotation>
          <xs:documentation>
            <description value="Error pointer" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrReaER13" type="Alphanumeric_Max6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Error reason" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriAttValER14" type="Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Original attribute value" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrDesFUNERRMES" type="Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Error description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (REPRESENTATIVE) TRADER =====-->
  <xs:complexType name="TRAREP">
    <xs:annotation>
      <xs:documentation>
        <description value="(REPRESENTATIVE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTRE1" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTRE1" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTRE1" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitTRE1" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTRE1" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAREPLNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="NAD LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTRE1" type="TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeMenTRE410" type="Alphanumeric_5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Special Mention" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

