IcisNet Msges/XP14A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.00">
  <!--=========================================-->
  <!--===== XP14:E_ARD_BRE  -->
  <!--===== Αιτημα Ακύρωσης Εγγραφου Προ Ενημερωσης  -->
  <!--===== ECS Domain Definition  -->
  <!--===== DDNXA v5.00  -->
  <!--===== Included Features: [4, 17, 18, 20, 24, 25, 28, 29]  -->
  <!--=========================================-->
  <!--===== Includes =====-->
  <xs:include schemaLocation="simple_types_ecs.xsd" />
  <xs:include schemaLocation="simple_types.xsd" />
  <xs:include schemaLocation="complex_types.xsd" />
  <xs:include schemaLocation="tcl_ecs.xsd" />
  <xs:include schemaLocation="tcl.xsd" />
  <xs:include schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="XP14A" type="XP14A" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="XP14A">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="HEAHEA" type="HEAHEA">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXPEX1" type="TRAEXPEX1">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORTER) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXPERT" type="CUSOFFEXPERT">
        <xs:annotation>
          <xs:documentation>
            <description value="(EXPORT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax identifier" />
            <codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <description value="Syntax version number" />
            <codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="Numeric_6">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="Numeric_4">
        <xs:annotation>
          <xs:documentation>
            <description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Acknowledgement request" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Test indicator" />
            <codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEA">
    <xs:annotation>
      <xs:documentation>
        <description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="MRNType">
        <xs:annotation>
          <xs:documentation>
            <description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfCanReqHEA147" type="Numeric_8">
        <xs:annotation>
          <xs:documentation>
            <description value="Date of cancellation request" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CanReaHEA250" type="Alphanumeric_Max350">
        <xs:annotation>
          <xs:documentation>
            <description value="Cancellation reason" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CanReaHEA250LNG" type="LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Cancellation reason LNG" />
            <codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXPORTER) TRADER =====-->
  <xs:complexType name="TRAEXPEX1">
    <xs:annotation>
      <xs:documentation>
        <description value="(EXPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamEX17" type="TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumEX122" type="StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodEX123" type="PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitEX124" type="CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouEX125" type="CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Country code" />
            <codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINEX159" type="TINType">
        <xs:annotation>
          <xs:documentation>
            <description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhoneExTr126" type="Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Phone number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExTrFax2379" type="Alphanumeric_Max12" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Fax number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

